<div class="container mt-4">
    <h1>Courses</h1>
    <% if (user.role === 'admin') { %>
    <a href="/course/add" class="btn btn-primary mb-3">Add New Course</a>
    <% } %>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Teacher</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Students</th>
                <% if (user.role === 'admin') { %>
                <th>Actions</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach(function(course) { %>
            <tr>
                <td><%= course.name %></td>
                <td><%= course.teacher.name %></td>
                <td><%= new Date(course.startDate).toLocaleDateString() %></td>
                <td><%= new Date(course.endDate).toLocaleDateString() %></td>
                <td>
                    <%= course.students.length %>
                    /
                    <%= course.maxStudents %>
                </td>
                <% if (user.role === 'superAdmin' || user.role === 'admin') { %>
                <td>
                    <a
                        href="/course/edit/<%= course._id %>"
                        class="btn btn-secondary btn-sm"
                        >Edit</a
                    >
                    <button
                        class="btn btn-danger btn-sm delete-course"
                        data-id="<%= course._id %>"
                    >
                        Delete
                    </button>
                </td>
                <% } %>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(() => {
        $('.delete-course').on('click', event => {
            if (confirm('Are you sure you want to delete this course?')) {
                const courseId = $(this).data('id')

                $.ajax({
                    url: `/api/course/${courseId}`,
                    method: 'DELETE',
                    success: response => {
                        if (response.success) {
                            location.reload()
                        } else {
                            alert('An error occurred: ' + response.message)
                        }
                    },
                    error: (xhr, status, error) => {
                        console.error('Error:', error)
                        alert('An error occurred. Please try again.')
                    },
                })
            }
        })
    })
</script>
<%- contentFor('title') %>Course
